
@{
    ViewData["Title"] = "Index";
}

<h1>Here's the categories we have. Pick one to see the products</h1>

<form>
    <div class="form-group">
        <label>Link:</label><br>
        <input type="text" class="form-control" placeholder="Website adress" name="link"><br>
    </div>
    <button type="submit" class="btn btn-primary">Scrape</button>
</form>

